.prompt_section {
    width: 90%;
    padding: 1rem 2rem;
    border: 1px solid #ffffff5b;
    border-radius: 25px;
    background: #0e0e0e3b;
    backdrop-filter: blur(7px);
    cursor: text;

    >.prompt_text {
        font-family: "NeueMachina";
        font-size: clamp(15px, 2.5vw, 70%);
    }

    >img {
        transform: rotate(-90deg);
        width: 2rem;
    }
}

@media screen and (width <=480px) {
    .prompt_section {


        >.prompt_text {

            font-size: clamp(11px, 2.5vw, 70%);
        }

    }
}