.services_poster {

    h1:nth-child(1) {
        color: var(--highlight-color2);
        font-style: oblique;
        font-size: 9rem;
        font-family: "GalleryModern", sans-serif;
        line-height: 1;
    }

    h1:nth-child(2) {

        font-family: "NeueMachina", sans-serif;
    }
}








.horizontal_item_container {
    .horizontal_left_item {
        padding: max(40px, min(3.4722vw, 80px)) max(21.33333333px, min(1.8519vw, 42.66666667px)) max(93.33333333px, min(8.1019vw, 186.66666667px)) max(40px, min(3.4722vw, 80px));
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 0 0 max(333.33333333px, min(28.9352vw, 666.66666667px));

        >h2 {
            text-transform: uppercase;
            font-size: clamp(3.3rem, 2.5vw, 20%);
            line-height: 1.1;
            font-family: "GalleryModern";

        }

        >h5 {
            font-size: 1.1rem;
            text-decoration: underline;
            color: var(--gray-text-color);

            span {
                font-family: "Manrope";
                font-size: 1.3rem;
            }
        }

        h5,
        p {

            font-family: "NeueMachina";
        }

        >button.horizontal_left_item_btn {
            width: 10rem;
            aspect-ratio: 20/6;
            padding: 5px;
            border-radius: 20px;
            border: 1px solid var(--highlight-color1);
            // border: 1px solid #00000069;
            color: var(--highlight-color2);
            font-family: "Manrope";
            margin-top: 2rem;
            position: relative;
            overflow: hidden;

            &::before {
                transition: width .3s ease-in-out;
                content: " ";
                position: absolute;
                width: 0%;
                height: 100%;
                background: rgba(109, 255, 90, 0.453);
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:hover {
                border-color: rgba(26, 143, 16, 0.808);
                color: white;
                font-family: "Manrope_bold";

                &::before {
                    width: 100%;
                }

            }
        }
    }


    .horizontal_right_item {
        flex: 1 1 auto;


        .prompt_section {
            width: 90%;
            padding: 1rem 2rem;
            border: 1px solid #ffffff5b;
            border-radius: 25px;
            background: #0e0e0e3b;
            backdrop-filter: blur(7px);


            >.prompt_text {
                font-family: "NeueMachina";
                font-size: clamp(15px, 2.5vw, 70%);
            }

            >img {
                transform: rotate(-90deg);
                width: 2rem;
            }

        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}