main {
    width: 100%;
    height: 100vh;
    padding-top: var(--nav-height);

    background: url('../../assets//images/background/bg005.png') no-repeat center center fixed;
    background-size: cover;

    .blurBg {
        width: inherit;
        height: inherit;
        backdrop-filter: blur(1.5rem) contrast(0.9);
        position: absolute;
        top: 0;
        // second Style 
        // backdrop-filter: blur(1.6rem);
        //     background: #0a180f6e;
    }

}