.profileSection {
    width: 100%;
    height: 100vh;
    padding-top: calc(var(--nav-height) - 1rem);



    .headerTag {
        >h1 {
            font-size: 3.3rem;
            text-transform: uppercase;
            font-family: "NeueMachina", sans-serif;

            span {
                font-family: "Romance", sans-serif;
                color: var(--highlight-color2);
                font-size: 2.3rem;
            }

        }

        >h3 {
            font-size: 2rem;
            color: var(--gray-text-color);
            letter-spacing: 3px;
            word-spacing: 2px;
        }
    }

}

.userCard {
    .userinfo {
        display: flex;
        width: 30%;
        gap: 1rem;
        flex-direction: column;

        &::after {
            content: " ";
            position: absolute;
            right: 0;
            width: 1px;
            height: 95%;
            background: rgba(68, 68, 68, 0.679);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7579364509475666) 3%, rgba(57, 57, 57, 0.9764238459055498) 13%, rgba(56, 56, 56, 1) 48%, rgba(59, 59, 59, 0.9568160027682948) 85%, rgba(0, 0, 0, 0.5506535377823004) 97%);
            top: 5%;
        }


        .circle {
            width: 10rem;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            border: 2px solid var(--highlight-color2);
            color: white;
            background: #b1ffa612;
            backdrop-filter: blur(3px);
            font-size: 4rem;

        }

        .info {
            h2 {
                span {
                    color: var(--gray-text-color);
                    font-family: "GalleryModern", sans-serif;
                }
            }
        }

        .logout {
            cursor: pointer;
            padding: .9rem 0;
            width: 35%;
            border-radius: 10px;
            border: 2px solid transparent;
            gap: .5rem;
            color: var(--gray-text-color);
            transition: all 0.3s ease-in;
            background: #ffffff21;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 2px;
                background: #ffffff05;
                left: 0;
                transition: width 0.4s ease-in-out;
            }

            &:hover {
                display: flex;
                border-color: #ffffff45;

                &::before {
                    width: 100%;
                }
            }
        }

        .disabled {
            user-select: none;
            cursor: not-allowed;
        }
    }
}

.userGallery {
    padding: 0 1rem;

    .editableBox {
        height: 4rem;

        input {
            outline: none;
            border: none;
            background: transparent;
            color: var(--highlight-color1);
            font-size: 2.8rem;
            font-family: "NeueMachina", sans-serif;
            width: 100%;
            height: 100%;
        }

        h2 {

            cursor: pointer;
            font-size: 2.8rem;
            color: var(--highlight-color1);
            height: 100%;
        }
    }

    .backTag {
        top: 50%;
        font-family: "GalleryModern", sans-serif;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: #ffffff1f;
    }
}

@media screen and (width <=480px) {
    .profileSection {
        min-height: 100vh;
        height: auto;
        padding-top: calc(var(--nav-height) + .4rem);

        .headerTag {
            >h1 {
                font-size: 2.4rem;
                line-height: 1.2;
            }

            >h3 {
                font-size: 1.1rem;
            }
        }

        .userCard {
            flex-direction: column;
            margin-top: 2.4rem;

            .userinfo {
                width: 100%;


                &::after {
                    left: 0;
                    right: unset;
                    top: unset;
                    bottom: -5%;
                    height: 1px;
                    width: 100%;
                }

                .userDetails {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                    justify-content: center;

                    .circle {
                        width: 8rem;
                        font-size: 5rem;
                        font-family: "GalleryModern", sans-serif;

                        span {
                            background: linear-gradient(315deg, #646363, #FFF, #000);
                            color: transparent;
                            -webkit-background-clip: text;
                            background-clip: text;
                        }

                    }

                    .logout {
                        width: 45%;
                        border: 2px solid #e7e7e724;

                        background: rgba(255, 255, 255, 0.16);
                    }
                }
            }
        }


        .userGallery {
            min-height: 40vh;
            padding: 0;
            margin-top: 1rem;

            .editableBox {
                height: 3rem;

                h2 {
                    font-size: 2.5rem;
                    text-transform: capitalize;

                }

                input {
                    font-size: 2.5rem;
                }

            }

            .backTag {
                font-size: 2.5rem;
                text-align: center;
            }

        }
    }


}