$btnBlurBg : #ffffff62;

@mixin inner_roundedShaped($padding) {
    padding: $padding;
    background: $btnBlurBg;
    backdrop-filter: blur(1.5rem);
    border-radius: calc(7rem - .5rem);
}


.innerPadded_btn {
    border-radius: 7rem;
    // padding: .5rem 1.4rem;
    padding: .8rem 1.4rem;
}

.profileBtn {
    margin: 0 2.66rem;
}

nav {
    font-size: 1.3rem;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    z-index: 100;
    transition: top 600ms ease;

    .border_nav {

        backdrop-filter: blur(.6rem);
        padding: .5rem;
        border-radius: 7rem;
        border: 1px solid var(--border--color);

        .main_nav {
            // font-size: 1.3rem;
            gap: .2rem;

            .active_NavLink {
                background: $btnBlurBg;
                font-family: "Manrope_bold", sans-serif;
            }

            .nav_item {
                // border-radius: 7rem;
                // padding: .5rem 1.4rem;
                position: relative;
                overflow: hidden;

                &::before {
                    transition: width .3s ease-in-out;
                    content: " ";
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background: $btnBlurBg;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }

                }
            }
        }

    }



    .auth_btn_section {
        backdrop-filter: blur(.6rem);
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 7rem;
        position: relative;
        border: 1px solid var(--border--color);
        cursor: pointer;
        transition: box-shadow 600ms ease-in-out;

        &:hover {
            box-shadow: inset 0 0 20px 6px #ffffff96;

            .text {
                text-shadow: 2px 1px 3px #000000b5;
            }
        }

        .text {
            transition: text-shadow 770ms ease-in-out;
            padding: 0.8rem 3rem;
            font-family: "Manrope_bold", sans-serif;
        }


        .auth_icon {
            padding: .8rem;
            border-radius: 7rem;
            transition: all .3s ease-in-out;

            .icon {
                width: 1.2em;
            }


            // background: $btnBlurBg;
        }

    }
}